html {
    font-family: 'Roboto', sans-serif;
}

nav {
  height: 52px;
  background: #212121;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 14px 68px;
    list-style-type:none;
}

.menu .menu_link {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
}

.menu .menu_item {
    border-right: 2px dotted black;
    /* padding-right: 28px; */
    padding-right: 2vw;
}

.menu .menu_item:last-child {
    border-right:none;
    padding-right: 0;
}

.subheader {
    height: 85px;
    background: rgba(0, 0, 0, .6);
}

.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_official {
    opacity: 0.5;
    margin-top: 6px;
    line-height: 13px;
    font-style: normal;
    font-weight: 100;
    font-size: 13px;
    color: #FFFFFF;
}

.subheader_call {
    margin-top: 23px;
    line-height: 12px;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    text-align: right;
    color: #FFFFFF;
}

.subheader_phone {
    margin-top: 8px;
    line-height: 12px;
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    text-align: right;
}

.subheader_phone:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

.subheader .subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.promo {
    height: 800px;
    padding: 143px 0 186px 0;
    background:url("../img/bg/uber_bg.png") center center/cover no-repeat;
}

.promo .promo_header {
    margin: 0;
    line-height: 50px;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.promo .promo_subheader {
    margin: 0;
    margin-top: 14px;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.promo .promo_descr {
    margin-top: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.promo .promo_btn {
    margin: 0 auto;
    margin-top: 115px;
    display:block;
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}